	<cruisecontrol>
	<project name="Alogorithms">
		<bootstrappers>
			<gitbootstrapper localWorkingCopy="checkout/Alogorithms" />
		</bootstrappers>
		<modificationset quietperiod="60">
			<git localworkingcopy="checkout/Alogorithms" />
		</modificationset>
		<schedule interval="300">
				<ant buildfile="cc-build.xml" target="biuldProject" />
		</schedule>
		<log dir="logs/Alogorithms">
			<merge dir="checkout/Alogorithms/build/test-results" />
		</log>
		<publishers>
			<htmlemail mailhost="smtp.mail.yahoo.com" mailport="465" username="vijithaepa@yahoo.com" password="hamas@21029"
					returnaddress="cruise@mydomain.com"
					buildresultsurl="http://localhost/cc/buildresults/Alogorithms"
					skipusers="true" spamwhilebroken="true"
					css="C:/SWTools/cruisecontrol-bin-2.8.4/webapps/cruisecontrol/css/cruisecontrol.css"
					xsldir="C:/SWTools/cruisecontrol-bin-2.8.4/webapps/cruisecontrol/xsl"
					logdir="logs/Alogorithms">
				<always address="vijithaepa@yahoo.com"/>
				<failure address="vijithaepa@yahoo.com"/>
			</htmlemail>
		</publishers>
	</project>
</cruisecontrol>